@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#nav-enabler {
	top: 0;
	z-index: 1;
	top: 200px;
    color:#005AA7;
    height:50px;
    width:50px;
}

.sidenav {
	font-family: 'Fjalla One', sans-serif;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #005AA7; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav h1 {
	color:white;
	width:300px;
	margin:20px auto;
	padding:0;
}

.p-nav {
	color:white;
	width:300px;
	margin:20px auto;


}

h1 {
	
	color: rgba(0, 0, 0, 1);
	font-family: 'Fjalla One', sans-serif;
	padding:30px 0px 30px 10px;
	
}

#mapid {
	margin: 10px auto;
	height:500px;
	width: 700px;
	border-radius: 20px;
	box-shadow: 3px 3px 3px rgba(0,0,0, 0.2);
}


body {

	background: #005AA7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#legend {

	height: 200px;
	width: 700px;
	background: white;
	margin:0 auto;
	border-radius: 20px;
}

#header {
	
	height: 100px;
	width: 700px;
	background:white;
	margin:0 auto;
	border-radius:20px;
}